@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, .wrap {min-height: 100vh; width: auto}
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
* html .clearfix { height: 1%;}
.clearfix {display: block;}


.footer {
  position: relative;
  margin-top: -7rem;
  height: 7rem;
  clear:both;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.5);
}

#menu {
  position: fixed;
  height: calc(100vh - 4rem);
  width: 100vw;
  overflow-y: hidden;
  top: 4rem;
  left: 0;
  right: 0;
  bottom: 0;
  background: RGBa(255,255,255,1);
}
#menu.opened {
  opacity: 1;
  z-index: 1000;
  transition: 0.15s ease;
}
#menu.closed {
  opacity: 0;
  z-index: -1;
}
.openMenu.opened {display: none;}  .openMenu.closed {display: flex;}
.closeMenu.opened {display: flex;}  .closeMenu.closed {display: none;}


hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.header-link {
  @apply text-gray-900 no-underline text-base tracking-wide cursor-pointer;
}
.header-link:hover {
  @apply text-green-800 font-black;
}

.app {
  margin: auto;
  width: 96% !important;
}
@media (min-width: 1024px) {
  .app {width: 88% !important;}
}
@media (min-width: 1200px) {
  .app {width: 80% !important;}
}

.title {
  @apply w-full text-center leading-tight m-0 pt-8 text-4xl;
}

.news-grid {
  @apply w-full;
}
.news-grid-row {
  @apply flex mb-6;
}
.news-card {
  position: relative;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  min-height: 400px;
  max-height: 500px;
  cursor: pointer;
}
.news-card-big {
  @apply w-full;
}
.news-card-small {
  @apply w-1/2;
}
@media (max-width: 768px) {
  .news-card-small {
    @apply w-full;
  }
}
.news-card-cover {
  position: absolute;
  z-index: 1;
  top: 0;right: 0;left: 0;bottom: 0;
  border-radius: 1rem;
  background-size: cover;
  background-position: center center;
}
.news-card-caption {
  position: absolute;
  left: 5%; right: 5%; bottom: 10%;
  z-index: 10;
  @apply w-11/12 mx-auto text-white leading-tight;
}
@media (max-width: 768px) {
  .news-card-big .news-card-caption > .big {
    @apply text-2xl;
  }
}
@media (min-width: 768px) {
  .news-card-big .news-card-caption > .big {
    @apply text-4xl;
  }
}
.news-card-small .news-card-caption > .big {
  @apply text-2xl;
}
.news-card-caption > .small > span {
  @apply inline-block text-gray-200 text-sm mr-4;
}
.news-card-overlay {
  position: absolute;
  z-index: 5;
  top: 0;right: 0;left: 0;bottom: 0;
  border-radius: 1rem;
  background: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.50) 100%);
}


.btn-gray-outlined {
  @apply bg-transparent text-gray-800 text-lg font-semibold py-2 my-2 px-4 border border-gray-600 rounded mx-1;
}
.btn-gray-outlined:hover {
  @apply bg-gray-200 text-gray-900 border-transparent cursor-pointer;
}
.btn-gray-outlined:focus {
  @apply outline-none;
}
.btn-gray-outlined:active {
  @apply bg-gray-500 text-gray-900 border-transparent;
}
