/*
---NEWS GRID---
*/

.news-grid { @apply w-full }

.news-grid-row { @apply flex flex-wrap }

.news-card {
    position: relative;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    min-height: 400px;
    max-height: 500px;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    overflow:hidden;
}

.news-card.big { @apply w-full }

@media (max-width: 768px) {
    .news-card-small { @apply w-full }
}

.news-card-cover {
    position: absolute;
    z-index: 1;
    top: 0;right: 0;left: 0;bottom: 0;
    transition: 0.3s ease;
    border-radius: 1rem;
    background-size: cover;
    background-position: center center;
}
@media (min-width: 640px) {
    .news-card:hover .news-card-cover {
        transition: .3s ease;
        filter: contrast(125%);
        background-position: calc(50% - 1px) calc(50% - 1px), calc(50% + 1px) calc(50% + 1px);
    }
}

.news-card-caption {
    position: absolute;
    left: 5%; right: 5%; bottom: 10%;
    z-index: 10;
    @apply w-11/12 mx-auto text-white leading-tight;
}

.news-card .news-card-caption > .big { @apply text-2xl }

@media (max-width: 768px) {
    .news-card.big .news-card-caption > .big { @apply text-2xl }
}

@media (min-width: 768px) {
    .news-card.big .news-card-caption > .big { @apply text-4xl }
}

.news-card-caption > .small > span { @apply inline-block text-gray-200 text-sm mr-4 }

.news-card-overlay {
    position: absolute;
    z-index: 5;
    top: 0;right: 0;left: 0;bottom: 0;
    border-radius: 1rem;
    background: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.50) 100%);
}
