.content {
    margin: auto;
    width: 96%;
}

@media (min-width: 1024px) {
    .content {width: 70%}
}

@media (min-width: 1200px) {
    .content {width: 60%}
}

/* SNACKBAR */
.snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #456;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 30px;
}

.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

/* COVER DIALOG */

.coverDialog {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 500;
    display: none;
    overflow-y: scroll;
}

.coverDialog.show {
    display: block;
}

.coverDialogClose {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 25px;
}

.coverImageOverlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}

.coverImageOverlay:hover {
    background: rgba(0, 0, 0, .6);
}

.coverImageOverlay.chosen {
    background: rgba(0, 0, 0, .6);
}

.coverImageOverlay.chosen .coverImageOverlayTrash {
    display: none !important;
}

.coverImageOverlay .coverImageOverlayChosen {
    display: none;
}

.coverImageOverlay.chosen .coverImageOverlayChosen {
    display: block;
    position: absolute;
    top: 40%; left: 40%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
    font-size: 35px;
    text-align: center;
    color: white;
}

.coverImageOverlay .coverImageOverlayTrash {
    display: none;
    padding: 3px;
    position: absolute;
    top: 5%; right: 5%;
}

.coverImageOverlay .coverImageOverlayTrash svg {
    width: 25px;
    height: 30px;
}

.coverImageOverlay:hover .coverImageOverlayTrash svg:hover {
    box-shadow: 0 0 3px 1px rgba(255, 255, 255, .5);
    border-radius: 15px;
}

.coverImageOverlay:hover .coverImageOverlayTrash {
    display: block;
}

/* DANTE EDITOR */

.DraftEditor-root .inlineTooltip-button .tooltip-icon svg {
    margin: auto !important;
}

.DraftEditor-root .inlineTooltip-button {
    background: white !important;
}

.DraftEditor-root figure img {
    box-shadow: 0 0 7px 2px rgba(0, 0, 0, .3);
    border-radius: 10px;
}
